package ${packageName}

import com.github.akovari.typesafeSalesforce.model.MetaModel
import com.github.akovari.typesafeSalesforce.cxf.enterprise._

object model {
val metaModels: Map[Class[_], Class[_]] = Map(
#set($i = 0)
#foreach($const in $consts)
  classOf[${const}] -> ${const}_.getClass
  #set($i = $i + 1)
  #if($i < $constsL)
    ,
  #end
#end
)
}
